@import url(https://db.onlinewebfonts.com/c/bf436b16c1cc2fbc68aa9413bca8ec29?family=Apercu+Pro+Mono);
@import url("https://fonts.googleapis.com/css2?family=Baskervville&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* admin login */
.form-control:focus {
  border-color: #BF994D;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #BF994D;
}

/* nav */
.nav-font {
  margin: 0;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  opacity: 90%;
}
nav a:hover {
  background-color: #bf994d;
}

.navbar {
  position: absolute;
}
.navbar-brand {
  margin: 0;
}

.navbar-toggler {
  background-color: white;
}
/* sticky nav */
.nav-2 {
  background-color: rgb(0, 0, 0);
}
.nav2-hover:hover {
  color: #bf994d;
}
/* about sec */
.about-sec {
  background-color: rgb(0, 0, 0);
  width: 100%;
}
.about-header {
  color: #bf994d;

  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.about-content {
  color: white;
  opacity: 85%;
  font-family: 'Poppins', sans-serif;
  text-align: start;
}

/* gallery */
img {
  max-width: 100%;
}
.gallery {
  background-color: #000000;
  padding: 80px 0;
}
.gallery h3 {
  font-family: 'Poppins', sans-serif;
  color: white;
}
.gallery img {
  background-color: #ffffff;
  padding: 15px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
#gallery-modal .modal-img {
  width: 100%;
}

/* services */
.services {
  background-color: rgb(0, 0, 0);
}

/* .card-img-top {
  height: 300px;
}
.card-text {
  height: 100px;
}
.card-body {
  height: 400px;
} */

.h5 {
  font-family: 'Poppins', sans-serif;
}
.p {
  font-family: 'Poppins', sans-serif;
}
.card-portrait {
  min-height: 500px;
}



/* contact */
.contact-sec {
  background-color: #000000;
}

/* footer */
a:hover {
  text-decoration: none;
}
.section-padding {
  padding: 60px 0;
}
.bottom {
  background-color: #000000;
  opacity: 90%;
}
.bottom .copyright {
  color: #e5e5e5;
  font-weight: 600;
}
.copyright a {
  color: #e17e11;
  margin-left: 3px;
  padding-right: 3px;
}
.bottom p {
  margin-bottom: 0;
  line-height: 50px;
  font-size: 16px;
  font-weight: 400;
}
.copyright p span {
  color: #d1caca;
}
.bottom .copyright p,
.bottom .copyright a:hover {
  color: #6c6d83;
}
/* .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */

  /* -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
} */ */

/*
 Multicoloured Hover Variations
*/

#social-fb:hover {
  color: #3b5998;
}
#social-tw:hover {
  color: #4099ff;
}
#social-gp:hover {
  color: #d34836;
}
#social-em:hover {
  color: #f39c12;
}

/* backt to top */
/* .back-to-top-link {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #bf994d; */
  /* emoji don't behave like regular fonts
     so this helped position it correctly */
  /* padding: 0.25rem;
} */


/* reviews */
form .ratingsContainer{
  margin-bottom: 20px;
  color: gray;
}
form .ratings{
  display: flex;
  flex-direction: row-reverse;
  width: 208px;
  height: 40px;
  margin: auto;
  justify-content: center;
}
form .ratings span{
  cursor: pointer;
  transition: color .2s;
  font-size: 30px;
}
form .ratings span:hover{
  color: #99783f;
}
form .ratings span:hover ~ span{
  color: #99783f;
}
form .ratings span.active {
 color:#99783f;
}
.inputContainer {
   margin: 10px 100px;
   padding: 100px 0;
   display: flex;
   flex-direction: column;
   text-align: center;
   font-family: 'Poppins', sans-serif;
   justify-content: space-around;
}

#nameInput {
   background-color: rgb(46, 44, 44);
   opacity: 20;
   color: white;
   font-family: 'Poppins', sans-serif;
   width: 400px;
   border-radius: 2px;
}

#commentInput {
   background-color: rgb(46, 44, 44);
   opacity: 20;
   color: white;
   font-family: 'Poppins', sans-serif;
   width: 400px;
   height: 150px;
   border-radius: 2px;
}

input[type=submit] {
   background-color: rgb(46, 44, 44);
   color: white;
   font-family: 'Poppins', sans-serif;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   width: 100px;
 }

.rem-border {
   border: 0;
}

.rem-border:focus {
   outline: none;
}
.postDisplay {
   margin: 100px 0;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;
}
.commentCard {
   width: 100px;
   height: 150px;
   display: flex;
   flex-direction: column;
   margin: 0 10px;
   align-items: center;
   justify-content: space-evenly;
}
.customerName {
   padding: 20px 0;
   color: white;
   font-family: 'Poppins', sans-serif;
   font-size: small;
   text-align: end;
}

.customerComment {
   color: rgb(0, 0, 0);
   font-family: 'Poppins', sans-serif;
   font-size: smaller;
   text-align: justify;
   line-height: 180%;
   width: 200px;
}




/* Get in touch */
.message-container{
    width: 100%;
    height: 100vh;
    background: #1b1c1f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-message{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width:600px;
    border-radius: 10px;
}
form h3{
    color: #000000;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #fff;
    font-size: 16px;
}

form button{
    padding: 15px;
    background: #343537;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

/* reviews */
.reviews-sec {
  background-color: #000000;
}
.reviewSection {
  background-color: black;
}
.reviewHeader {
  margin: 50px auto;
  display: flex;
  color: rgb(156, 142, 142);
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  justify-content: center;
}

form .ratingsContainer{
  margin-bottom: 20px;
  color: gray;
}
.rate {
   display: flex;
   flex-direction: row-reverse;
   width: 208px;
   height: 40px;
   margin: auto;
   justify-content: center;
}
/* it goes to top when its checked */
.rate:not(:checked) > input {
 display: none;
}
.rate:not(:checked) > label {
   float: right;
   width: 1em;
   overflow: hidden;
   white-space: nowrap;
   cursor: pointer;
   font-size: 30px;
   color: #ccc;
}
.rate:not(:checked) > label:before { 
   content: '★ '; 
}
.rate > input:checked ~ label { 
   color: #99783f; 
}
.rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label { 
   color: #99783f; 
}
.rate > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label {
    color: #99783f; 
}
.inputContainer {
   margin: 10px 100px;
   padding: 100px 0;
   display: flex;
   flex-direction: column;
   text-align: center;
   font-family: 'Poppins', sans-serif;
   justify-content: space-around;
}

#nameInput {
   background-color: rgb(46, 44, 44);
   opacity: 20;
   color: white;
   font-family: 'Poppins', sans-serif;
   width: 400px;
   border-radius: 2px;
}
#nameInput:hover {
   outline-color: invert;
}
#commentInput {
   background-color: rgb(46, 44, 44);
   opacity: 20;
   color: white;
   font-family: 'Poppins', sans-serif;
   width: 400px;
   height: 150px;
   border-radius: 2px;
}

input[type=submit] {
   background-color: rgb(46, 44, 44);
   color: white;
   font-family: 'Poppins', sans-serif;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   width: 100px;
 }

.rem-border {
   border: 0;
}

.rem-border:focus {
   outline: none;
}
.postDisplay {
   margin: 100px 0;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;
}
.commentCard {
   width: 100px;
   height: 150px;
   display: flex;
   flex-direction: column;
   margin: 0 10px;
   align-items: center;
   justify-content: space-evenly;
}
.customerName {
  padding: 50px 10px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: small;
  text-align: end;
  height: 10px;
}
.customerComment {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: smaller;
  text-align: justify;
  line-height: 180%;
  width: 200px;
  height: 100px;
  padding: 0 10px;
}
.customerRate {
  height: 50px;
  padding: 10px;
}
.reviewsCard {
  border: solid 1px;
  border-color: #99783f;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 7px 1px #99783f;
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
  }
  .navbar-collapse {
    background-color: black;
    opacity: 75%;
  }
}
