@import url(https://db.onlinewebfonts.com/c/bf436b16c1cc2fbc68aa9413bca8ec29?family=Apercu+Pro+Mono);
@import url("https://fonts.googleapis.com/css2?family=Baskervville&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* admin login */
.form-control:focus {
  border-color: #BF994D;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #BF994D;
}

/* nav */
.nav-font {
  margin: 0;
  font-size: 14px;
  font-family: "Apercu Pro Mono";
  font-weight: bold;
  color: rgb(255, 255, 255);
  opacity: 90%;
}
nav a:hover {
  background-color: #bf994d;
}

.navbar {
  position: absolute;
}
.navbar-brand {
  margin: 0;
}

.navbar-toggler {
  background-color: white;
}
/* sticky nav */
.nav-2 {
  background-color: rgb(0, 0, 0);
}
.nav2-hover:hover {
  color: #bf994d;
}
/* about sec */
.about-sec {
  background-color: rgb(0, 0, 0);
  width: 100%;
}
.about-header {
  color: #bf994d;

  font-family: "Apercu Pro Mono";
  text-align: center;
}
.about-content {
  color: white;
  opacity: 85%;
  font-family: "Baskervville", serif;
  text-align: start;
}

/* gallery */
img {
  max-width: 100%;
}
.gallery {
  background-color: #000000;
  padding: 80px 0;
}
.gallery h3 {
  font-family: "Apercu Pro Mono";
  color: white;
}
.gallery img {
  background-color: #ffffff;
  padding: 15px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
#gallery-modal .modal-img {
  width: 100%;
}

/* services */
.services {
  background-color: rgb(0, 0, 0);
}
.h5 {
  font-family: "Apercu Pro Mono";
}
.p {
  font-family: "Baskervville", serif;
}
/* contact */
.contact-sec {
  background-color: #dbddf1;
}

/* footer */
a:hover {
  text-decoration: none;
}
.section-padding {
  padding: 60px 0;
}
.bottom {
  background-color: #000000;
  opacity: 90%;
}
.bottom .copyright {
  color: #e5e5e5;
  font-weight: 600;
}
.copyright a {
  color: #e17e11;
  margin-left: 3px;
  padding-right: 3px;
}
.bottom p {
  margin-bottom: 0;
  line-height: 50px;
  font-size: 16px;
  font-weight: 400;
}
.copyright p span {
  color: #d1caca;
}
.bottom .copyright p,
.bottom .copyright a:hover {
  color: #6c6d83;
}
.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */

  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

/*
 Multicoloured Hover Variations
*/

#social-fb:hover {
  color: #3b5998;
}
#social-tw:hover {
  color: #4099ff;
}
#social-gp:hover {
  color: #d34836;
}
#social-em:hover {
  color: #f39c12;
}

.back-to-top-link {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #bf994d;
  /* emoji don't behave like regular fonts
     so this helped position it correctly */
  padding: 0.25rem;
}


/* Get in touch */



.message-container{
    width: 100%;
    height: 100vh;
    background: #1b1c1f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-message{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width:600px;
    border-radius: 10px;
}
form h3{
    color: #000000;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #fff;
    font-size: 16px;
}

form button{
    padding: 15px;
    background: #343537;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
  }
  .navbar-collapse {
    background-color: black;
    opacity: 75%;
  }
}
